@import './base.css';

a,
.blue {
  text-decoration: none;
  color: hsla(213, 40%, 58%, 1);
  transition: 0.4s;
  font-weight: 500;
  font-variant: all-small-caps;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(231, 36%, 54%, 0.2);
  }
}

.btn {
  /* eslint-disable-next-line css/no-important */
  padding-top: 0 !important; 
  /* eslint-disable-next-line css/no-important */
  padding-bottom: 0 !important;
}

.btn-primary {
  color: #fff;           
  background-color: hsla(213, 40%, 58%, 1);
  border-color: hsla(213, 40%, 58%, 1);
}

.btn-primary:hover {
  color: #fff;      
}
